* { box-sizing: border-box }
:root { background: plum; color: #110111; }
::selection { background: darkviolet; color: lightsalmon }

.wox {
  background-color: violet;
  background-image: linear-gradient(.333turn, violet, violet 30%, hotpink 30%, hotpink);
}

.wux {
  background-color: violet;
  background-image: linear-gradient(.333turn, violet, violet 50%, hotpink 50%, hotpink);
}

.lux {
  background-color: orchid;
  background-image: linear-gradient(.333turn, violet, violet 50%, transparent 50%, transparent);
}

.lix {
  background-color: orchid;
  background-image: linear-gradient(.333turn, violet, violet 30%, transparent 30%, transparent);
}

.luv {
  background-color: thistle;
  background-image: linear-gradient(.666turn, violet, violet 50%, thistle 50%, thistle);
}

.bip { font-size: 1.236em }
.bop { font-size: 1.382em }
.bup { font-size: 1.618em }

:any-link {
  color: inherit;
  cursor: grabbing;
}

:hover {
  text-decoration-style: double;
}

:focus {
  outline: thick double;
  text-decoration-style: dotted;
  background-image: linear-gradient(.666turn, deepskyblue, deepskyblue 50%, skyblue 50%, skyblue);
}

html {
  font: max(2em, 3vw + 3vh) sans-serif;
  line-height: 1.618;
}

body {
  margin: 0;
  overflow-wrap: anywhere;
}

h1 {
  margin: 0;
  font: 2em monospace;
  text-align: center;
}

a {
  display: flex;
  padding: 1em;
}

menu {
  list-style: circle;
  margin: 0;
  padding: 0;
}

nav {
  transform: rotate(180deg);
}

@media (orientation: portrait) {
  h1 {
    width: 100%;
    writing-mode: sideways-rl;
    text-align: unset;
  }
}
